<style>
    .ui-grid {
        height: 100% !important;
    }
    .ui-grid-pager-panel {
        display: contents !important;
    }
    .ui-grid-viewport {
        height: 100% !important;
        overflow: hidden !important;
    }
    </style>
    <div ui-grid="gridOptions"  ui-grid-edit="" ui-grid-row-edit="" ui-grid-pagination class="myGrid"></div>